# Backend
Backend/all_models.joblib
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/
.env
.env.local
app.log
*.joblib
.DS_Store

# Frontend
node_modules/
dist/
.vite/
*.log
.env
.env.local
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.pydevproject

# OS
Thumbs.db
.DS_Store
